:root {
    --link-color: rgba(28, 28, 28, 1);
    --link-hover-color: rgba(28, 28, 28, 0.5);
    --background-main-color: rgb(232, 232, 232);
    --background-footer-color: rgb(67, 58, 68);
    --text-color: rgb(28, 28, 28);
    --contrast-color: rgb(155, 23, 0);
    --contrast-footer-color: rgb(255, 255, 255);
    --link-footer-color: rgb(255, 255, 255);
    --link-footer-hover-color: rgb(155, 23, 0);
    --btn-red-background-color: rgb(155, 23, 0);
    --btn-red-background-link-color: rgb(255, 255, 255);
    --btn-red-background-link-hover-color: rgb(28, 28, 28);
}

/*Layout y comunes*/

body {
    background-color: var(--background-main-color);
    font-family: 'Noto Serif', serif;
}

a {
    color: var(--link-color);
    font: italic normal bold inherit 'Noto Serif', serif;
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

a:active {
    color: var(--link-color);
    font-weight: 700;
    font-style: italic;
}


body header nav div img.logo {
    margin-right: 10px;
}

a.main-link {
    text-decoration: none;
    align-self: center;
}

a.main-link > span{
    margin: 0;
    padding: 0;
}

.logo-text-black {
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 900;
    font-family: 'Noto Serif', serif;
}

.logo-text-red {
    color: var(--contrast-color);
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
}

/*Botones*/
.btn-main {
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: var(--btn-red-background-color);
    color: var(--btn-red-background-link-color);
}

.btn-main:hover {
    color: var(--btn-red-background-link-hover-color);
}


/*Flex*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex > div {
    flex: 1;
}

.flex-1 {flex: 1;}
.flex-2 {flex: 2;}
.flex-3 {flex: 3;}
.flex-4 {flex: 4;}

/*Margenes*/
.mr-5 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-15 {margin-right: 15px;}
.mr-20 {margin-right: 20px;}

.ml-5 {margin-left: 5px;}
.ml-10 {margin-left: 10px;}
.ml-15 {margin-left: 15px;}
.ml-20 {margin-left: 20px;}

/*Propiedades dependientes de tamaño de pantalla*/
@media screen and (max-width: 799px) {
    .s-flex-order-1 {order: 1;}
    .s-flex-order-2 {order: 2;}
    .s-flex-order-3 {order: 3;}
    .s-flex-order-4 {order: 4;}
    .s-justifiy-center {
        justify-content: center;
    }
    .s-fit-to-content {
        display: flex;
        flex:1 1 auto;
    }
    .s-content-full-with > div{
        min-width: 100vw;
    }
}

@media screen and (min-width: 800px) {
    .x-flex-order-1 {order: 1;}
    .x-flex-order-2 {order: 2;}
    .x-flex-order-3 {order: 3;}
    .x-flex-order-4 {order: 4;}
    .x-justify-end {
        justify-content: flex-end;
    }

    .x-justify-start {
        justify-content: flex-start;
    }
}
