:root {
    --web-red:  rgb(155, 23, 0);
    --web-red-active: rgb(200, 23, 0);
    --link-color: rgba(28, 28, 28, 1);
    --link-hover-color: rgba(28, 28, 28, 0.5);
    --background-main-color: rgb(232, 232, 232);
    --background-footer-color: rgb(67, 58, 68);
    --text-color: rgb(28, 28, 28);
    --contrast-color: rgb(155, 23, 0);
    --contrast-footer-color: rgb(255, 255, 255);
    --link-footer-color: rgb(255, 255, 255);
    --link-footer-hover-color: rgb(155, 23, 0);
    --btn-red-background-color: rgb(155, 23, 0);
    --btn-red-background-link-color: rgb(255, 255, 255);
    --btn-red-background-link-hover-color: rgb(28, 28, 28);
}

body, html {
    background-color: var(--background-footer-color);
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
}

/*Layout y comunes*/
.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

body {
    background-color: var(--background-main-color);
    font-family: 'Noto Serif', serif;
}

a {
    color: var(--link-color);
    font: italic normal bold inherit 'Noto Serif', serif;
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

a:active {
    color: var(--link-color);
    font-weight: 700;
    font-style: italic;
}


body header nav div img.logo {
    margin-right: 10px;
}

a.main-link {
    text-decoration: none;
    align-self: center;
}

a.main-link > span {
    margin: 0;
    padding: 0;
}

.logo-text-black {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Noto Serif', serif;
}

.logo-text-red {
    color: var(--contrast-color);
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
}

.footer {
    font-family: 'Open Sans', serif;
    padding-top: 20px;
    background-color: var(--background-footer-color);
    color: var(--link-footer-color);
}

.footer a {
    color: var(--link-footer-color);
}

.footer a:hover {
    color: var(--link-footer-hover-color);
}

.footer div.back-link {
    font-size: 1.5rem;
    margin-right: 25px;
    margin-bottom: 5px;
    align-self: flex-end;
}


/*Botones*/
.btn-main {
    cursor: pointer;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: var(--btn-red-background-color);
    color: var(--btn-red-background-link-color);
}

.btn-xl {
    padding: 15px 20px;
}

.btn-main:hover {
    color: var(--btn-red-background-link-hover-color);
}


/*Flex*/
.flex {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex > * {
    flex: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column > * {
    flex: 1;
}

.flex-1 {
    flex: 1 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.flex-4 {
    flex: 4 !important;
}

/*Margenes*/
.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.justifiy-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-flex-start {
    align-items: flex-start;
}

.text-center {
    text-align: center;
}

.text-rigt {
    text-align: right;
}

/*Formularios*/

.form-group-xl > input {
    height: 40px;
    border: solid 1px black;
    width: 90%;
    margin-bottom: 15px;
}

.big-h3 {
    font-size: 2.1rem;
    font-weight: normal;
}

.small-s {
    font-size: 0.9rem;
}

.small-xs {
    font-size: 0.8rem;
}

.small-xxs {
    font-size: 0.7rem;
}

.font-open-sans {
    font-family: 'Open Sans', serif;
}

.text-left {
    text-align: left;
}

.width-20vw {
    width: 20vw;
}

.width-30vw {
    width: 30vw;
}

.width-40vw {
    width: 40vw;
}

.width-50vw {
    width: 50vw;
}

.width-60vw {
    width: 60vw;
}

.width-70vw {
    width: 70vw;
}

.width-80vw {
    width: 80vw;
}

.width-90vw {
    width: 90vw;
}

.width-100vw {
    width: 100vw;
}

.flex-align-end {
    align-items: flex-end;
}

/*Propiedades dependientes de tamaño de pantalla*/
@media screen and (max-width: 799px) {
    .s-flex-order-1 {
        order: 1;
    }

    .s-text-center {
        text-align: center;
    }

    .s-flex-order-2 {
        order: 2;
    }

    .s-flex-order-3 {
        order: 3;
    }

    .s-flex-order-4 {
        order: 4;
    }

    .s-flex-1 {
        flex: 1;
    }

    .s-flex-2 {
        flex: 2;
    }

    .s-flex-3 {
        flex: 3;
    }

    .s-justifiy-center {
        justify-content: center;
    }

    .s-fit-to-content {
        display: flex;
        flex: 1 1 auto;
    }

    .s-content-full-with > div {
        min-width: 100vw;
    }

    .s-width-20vw {
        width: 20vw;
    }

    .s-width-30vw {
        width: 30vw;
    }

    .s-width-40vw {
        width: 40vw;
    }

    .s-width-50vw {
        width: 50vw;
    }

    .s-width-60vw {
        width: 60vw;
    }

    .s-width-70vw {
        width: 70vw;
    }

    .s-width-80vw {
        width: 80vw;
    }

    .s-width-90vw {
        width: 90vw;
    }

    .s-width-100vw {
        width: 100vw;
    }

    .s-flex-column {
        display: flex;
        flex-direction: column;
    }

    .s-flex-column > * {
        flex: 1;

    }

    .s-mr-5 {
        margin-right: 5px;
    }

    .s-mr-10 {
        margin-right: 10px;
    }

    .s-mr-15 {
        margin-right: 15px;
    }

    .s-mr-20 {
        margin-right: 20px;
    }

    .s-mr-30 {
        margin-right: 30px;
    }

    .s-mr-40 {
        margin-right: 40px;
    }

    .s-ml-5 {
        margin-left: 5px;
    }

    .s-ml-10 {
        margin-left: 10px;
    }

    .s-ml-15 {
        margin-left: 15px;
    }

    .s-ml-20 {
        margin-left: 20px;
    }

    .s-ml-30 {
        margin-left: 30px;
    }

    .s-ml-40 {
        margin-left: 40px;
    }

    .s-mt-5 {
        margin-top: 5px;
    }

    .s-mt-10 {
        margin-top: 10px;
    }

    .s-mt-15 {
        margin-top: 15px;
    }

    .s-mt-20 {
        margin-top: 20px;
    }

    .s-mt-30 {
        margin-top: 30px;
    }

    .s-mt-40 {
        margin-top: 40px;
    }

    .s-mb-5 {
        margin-bottom: 5px;
    }

    .s-mb-10 {
        margin-bottom: 10px;
    }

    .s-mb-15 {
        margin-bottom: 15px;
    }

    .s-mb-20 {
        margin-bottom: 20px;
    }

    .s-mb-30 {
        margin-bottom: 30px;
    }

    .s-mb-40 {
        margin-bottom: 40px;
    }

    .s-text-left {
        text-align: left;
    }
}

@media screen and (min-width: 800px) {
    .x-flex {
        display: flex;
        flex-direction: column;
    }

    .x-flex > * {
        flex: 1;
    }

    .x-flex-1 {
        flex: 1;
    }

    .x-flex-2 {
        flex: 2;
    }

    .x-flex-3 {
        flex: 3;
    }

    .x-flex-order-1 {
        order: 1;
    }

    .x-flex-order-2 {
        order: 2;
    }

    .x-flex-order-3 {
        order: 3;
    }

    .x-flex-order-4 {
        order: 4;
    }

    .x-justify-end {
        justify-content: flex-end;
    }

    .x-justify-start {
        justify-content: flex-start;
    }

    .x-width-20vw {
        width: 20vw;
    }

    .x-width-30vw {
        width: 30vw;
    }

    .x-width-40vw {
        width: 40vw;
    }

    .x-width-50vw {
        width: 50vw;
    }

    .x-width-60vw {
        width: 60vw;
    }

    .x-width-70vw {
        width: 70vw;
    }

    .x-width-80vw {
        width: 80vw;
    }

    .x-width-90vw {
        width: 90vw;
    }

    .x-width-100vw {
        width: 100vw;
    }

    .x-flex-row {
        display: flex;
        flex-direction: row;
    }

    .x-flex-row > * {
        flex: 1;

    }

    .x-flex-column {
        display: flex;
        flex-direction: column;
    }

    .x-flex-column > * {
        flex: 1;

    }

    .x-text-right {
        text-align: right;
    }

    .x-mr-0 {
        margin-right: 0;
    }

    .x-mr-5 {
        margin-right: 5px;
    }

    .x-mr-10 {
        margin-right: 10px;
    }

    .x-mr-15 {
        margin-right: 15px;
    }

    .x-mr-20 {
        margin-right: 20px;
    }

    .x-mr-30 {
        margin-right: 30px;
    }

    .x-mr-40 {
        margin-right: 40px;
    }

    .x-ml-0 {
        margin-left: 0;
    }

    .x-ml-5 {
        margin-left: 5px;
    }

    .x-ml-10 {
        margin-left: 10px;
    }

    .x-ml-15 {
        margin-left: 15px;
    }

    .x-ml-20 {
        margin-left: 20px;
    }

    .x-ml-30 {
        margin-left: 30px;
    }

    .x-ml-40 {
        margin-left: 40px;
    }

    .x-mt-0 {
        margin-top: 0;
    }

    .x-mt-5 {
        margin-top: 5px;
    }

    .x-mt-10 {
        margin-top: 10px;
    }

    .x-mt-15 {
        margin-top: 15px;
    }

    .x-mt-20 {
        margin-top: 20px;
    }

    .x-mt-30 {
        margin-top: 30px;
    }

    .x-mt-40 {
        margin-top: 40px;
    }

    .x-mb-0 {
        margin-bottom: 0;
    }

    .x-mb-5 {
        margin-bottom: 5px;
    }

    .x-mb-10 {
        margin-bottom: 10px;
    }

    .x-mb-15 {
        margin-bottom: 15px;
    }

    .x-mb-20 {
        margin-bottom: 20px;
    }

    .x-mb-30 {
        margin-bottom: 30px;
    }

    .x-mb-40 {
        margin-bottom: 40px;
    }

    .x-width-20 {
        width: 20%;
    }

    .x-width-30 {
        width: 30%;
    }

    .x-width-40 {
        width: 40%;
    }

    .x-width-50 {
        width: 50%;
    }

    .x-width-60 {
        width: 60%;
    }

    .x-width-70 {
        width: 70%;
    }

    .x-width-80 {
        width: 80%;
    }

    .x-width-90 {
        width: 90%;
    }

    .x-width-100 {
        width: 100%;
    }

    .x-justify-space-between {
        justify-content: space-between;
    }

    .x-big-h2 {
        font-size: 2rem;
    }

    .x-text-left {
        text-align: left;
    }
}

/*Listas*/
@media screen and (max-width: 800px) {
    ul {
        padding: 0;
    }

    ul li {
        list-style-type: none;
    }
}

@media screen and (min-width: 800px) {
    ul li {
        margin-left: 0;
        display: inline;
    }

    ul li:not(:last-child):after {
        font-weight: normal;
        content: " · ";
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;
    }
}

/*Index*/
#join-the-club a {
    color: var(--contrast-color);
}

#join-the-club a:hover {
    color: var(--link-color);
}

@media screen and (max-width: 800px) {
    .menu-link > img {
        width: 50%;
    }

    .s-joinclub-subtitle > h3 {
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 800px) {
    .menu-link > img {
        width: 60%;
    }


}

/*Clubes*/
#clubes-cine a {
    color: var(--web-red);
}

#clubes-cine a:hover {
    color: var(--web-red-active);
}

h3.dotted-before:before {
    color: var(--contrast-color);
    content: "···· ";
    margin-left: 10px;
}

.flex-stretch {
    align-items: stretch;
}

@media screen and (max-width: 800px) {
    .club-card img {
        width: 100%;
    }

    .club-card {
        margin-top: 40px;
    }

    .club-card div.card-text{
        text-align: left;
    }

}

@media screen and (min-width: 800px) {
    .club-card img {
        width: 100%;
    }

    .club-card {
        flex: 0  20vw;
        margin: 20px;
    }

    .club-card div.card-text{
        text-align: left;
    }

}

/*Sesiones 2020*/
.session-images div {
    margin-left: 15px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.20);
}

.session-images div a img {
    width: 100%;
}

.session-image-container a {
    color: var(--web-red);
    background-color: white;
    font-weight: bold;
}

@media screen and (max-width: 800px) {

    .session-images div {
        margin-top: 20px;
    }
}

@media screen and (min-width: 800px) {

    #sesiones-title {
        border-bottom-color: var(--web-red);
        border-bottom-width: 3px;
        border-bottom-style: dotted;
    }

}


